/**---LICENSE-BEGIN - DO NOT CHANGE OR MOVE THIS HEADER
 * This file is part of the Neurorobotics Platform software
 * Copyright (C) 2014,2015,2016,2017 Human Brain Project
 * https://www.humanbrainproject.eu
 *
 * The Human Brain Project is a European Commission funded project
 * in the frame of the Horizon2020 FET Flagship plan.
 * http://ec.europa.eu/programmes/horizon2020/en/h2020-section/fet-flagships
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 * ---LICENSE-END**/

tip-tooltip {
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  right: 20px;
  z-index: 399;
}

.tip-help-icon {
  font-size: 30px;
  margin-right: 20px;
  margin-left: 5px;
}

.tip-tooltip-wrapper {
  transition: position 2s;
}

.tip-tooltip {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fbffdb;
  color: #796c54;
  border-radius: 6px;
  bottom: 150%;
  width: 100%;
  height: 100%;
  padding: 5px;
  border: 2px solid #e0c178;
  box-shadow: 2px 5px 11px 0px;
  min-width: 300px;
  max-width: 700px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 16px;
  margin-bottom: 1em;
}

.tip-tooltip-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-self: flex-end;
}

.tip-tooltip-body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tip-tooltip-header {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
}

.tip-tooltip-footer {
  display: flex;
  flex-direction: row;
  min-height: 1em;
  margin-top: 5px;
}

.tip-tooltip-close-tools {
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.tip-tooltip-card-selection-tools {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
}

.tip-tooltip-hide-button {
  font-size: 11px;
  cursor: pointer;
  color: #fbffdb;
  background-color: #796c54;
  border-radius: 5px;
  height: 16px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
}

.tip-tooltip-button {
  font-size: 11px;
  cursor: pointer;
  color: #fbffdb;
  border-radius: 5px;
  height: 16px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 7px;
  width: 75px;
  background-color: #796c54;
}

.tip-tooltip-button-disabled {
  background-color: #d0c3ad;
  cursor: default;
}

.tip-help-small-icon {
  font-size: 18px;
  margin-right: 10px;
  margin-left: 5px;
  margin-top: 1px;
}

.tip-image {
  vertical-align: middle;
  width: 24px;
  height: auto;
  margin-right: 15px;
  box-shadow: 0px 0px 1px 2px #ab853b;
}

.tip-description {
  align-self: flex-start;
}

.card-control-button {
  margin-right: 5px;
}

.info-icon {
  min-width: 25px;
}
