<div class="modal-header"  >
    <h4 class="modal-title">{{vm1.title}}</h4>
</div>
<div class="modal-body">
  <div class = upload-to-kg-template>
    <upload-to-kg-explorer></upload-to-kg-explorer>


    <div ng-if="vm1.simulationUploadError">
    <br/>
    <span style="color:#ff0000;font-weight:bold">ERROR: The simulation's meta-data could not be uploaded to the Knowledge Graph</span>
    <br/>
    </div>

    <br/>
    <fieldset>
      <span>
        <label>
          Experiment name:
        </label>
        {{ vm1.metaData.name }}
      </span>

      <br/>
      <span>
        <label>
          Experiment ID:
        </label>
        {{ vm1.metaData.experimentID }}
      </span>

      <br/>
      <span>
        <label>
          Owner ID:
        </label>
        {{ vm1.metaData.owner }}
      </span>

      <br/>
      <span>
        <label>
          Launched at:
        </label>
        {{ vm1.metaData.creationDate }}
      </span>

      <br/>
      <span>
        <label>
          Runtime:
        </label>
        {{ vm1.metaData.realTimeText | timeDDHHMMSS}}
      </span>
    </fieldset>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="$dismiss('cancel')">{{vm1.cancelLabel}}</button>
    <button class="btn btn-primary" ng-click="vm1.upload()" ng-disabled="vm1.status !== 'selecting'">{{vm1.uploadLabel}}</button>
</div>
