<!-- build:css(.tmp) /components/new-experiment/new-experiment.style.css -->
<link rel="stylesheet" href="/components/new-experiment/new-experiment.style.css" />
<!-- endbuild -->

<!-- build:css(.tmp) styles/esv/esv-web.css -->
<link rel="stylesheet" href="styles/esv/esv-web.css" />
<!-- endbuild -->

<div style="height: 100%;">

  <div ng-show="tipTooltipService.someTipsAreDisplayedInTipCluster()">

    <div class="tip-tooltip-place">
      <tip-tooltip
        style="display:block;margin-right:16px"
        cluster-identifier="general"
        enable-hide-all="true"
      >
      </tip-tooltip>
    </div>

    <div style="padding-bottom: 80px;"></div>

  </div>

  <div style="display:flex; height: 100%;">

    <div style="display:flex; flex-direction: column; width: 100%;">

      <div class="environment-list-container">

        <div ng-show="!vm.environments">
          <i class="fa fa-2x fa-spinner fa-spin"></i>&nbsp;
          <i>Loading environment list...</i>
          <hr class="list-separator">
        </div>

        <div ng-repeat="envGroup in vm.environments">

          <div ng-repeat="entity in envGroup.environments | filter: query" class="experiment-box" ng-mouseenter="isHovered = true"
            ng-mouseleave="isHovered = false" ng-mouseup="isHovered = false" ng-click="vm.selectEnvironment(entity)">
            <div class="list-entry-container left-right" ng-show="entity.thumbnail!==''" ng-class="{selected: (entity.path == vm.environment.path), hover:isHovered && (entity.path != vm.environment.path)}">
              <div class="list-entry-left" style="position:relative" ng-class="{selected: entity.path == vm.environment.path}">

              <div ng-if="!entity.isCustom" style="position:absolute">
               <div class="public-tag"  > public </div>
               </div>

               <div ng-if="entity.isCustom" style="position:absolute">
                  <div class="private-tag"  > private </div>
                  </div>

                <div ng-if="entity.isShared" style="position:absolute">
                    <div class="private-tag"> shared </div>
                </div>

                <img ng-if="!entity.thumbnail" class="entity-thumbnail" src="img/esv/environment.png" />
                <img ng-if="entity.thumbnail" class="entity-thumbnail" ng-src="{{entity.thumbnail}}" />
              </div>
              <div class="list-entry-middle list-entry-container up-down">
                <div class="list-entry-container left-right title-line">
                  <div class="h4">{{entity.displayName ? entity.displayName: entity.name}}
                  </div>
                </div>
                <div ng-if="entity.path == vm.environment.path">{{entity.description}}</div>
                <div ng-if="entity.path != vm.environment.path">{{entity.description | limitTo: 200}}</div>


                <div ng-show="(entity.path == vm.environment.path)">

                    <hr class="list-separator" style="margin-top:25px">

                  <div style="display:flex; margin-top:25px">
                
                    <div style="margin-right: 10px; margin-top: 7px; min-width: 110px;">Brain Simulator</div>
                    <div style="margin-left: 4px; flex-grow: 1;">
                      <select ng-model="vm.experimentMode" type="text" class="top-buttons form-control ng-pristine ng-untouched ng-valid ng-empty"
                        style="width: 200px">
                        <option value=''>PyNN-NEST (default)</option>
                        <option value='SynchronousNengoSimulation'>Nengo</option>
                        <option value='SynchronousDirectNestSimulation'>NEST</option>
                        <option value='SynchronousNengoLoihiSimulation'>Nengo-Loihi</option>
                        <option value='SynchronousSpinnakerSimulation'>SpiNNaker</option>
                      </select>
                    
                    </div>
                  
                  </div>

                  <div style="display:flex; margin-top:5px">

                    <div style="margin-right: 10px; margin-top: 7px; min-width: 110px;">Experiment Title</div>
                    <div style="flex-grow: 1;">
                      <input ng-model="vm.experimentName" type="text" class="top-buttons form-control ng-pristine ng-untouched ng-valid ng-empty"
                        placeholder="Name of your experiment..." style=" width: 400px;">

                        <button class="btn btn-default enable-tooltip" style="width:200px" ng-click="vm.cloneAndLaunch()" ng-disabled="vm.isCloneRequested || vm.experimentName.length===0 || !vm.environment || vm.launchingExperiment">
                          <i class="fa fa-plus"></i> Launch</button>

                    </div>

                  </div>

                  <div ng-show="vm.launchingExperiment" >
                      <uib-progressbar value="100" class="progress-striped active top-buffer" type="info"><b>{{vm.launchingExperimentText}}</b></uib-progressbar>
                  </div>

                  <div ng-show="vm.isCloneRequested" >
                      <uib-progressbar value="100" class="progress-striped active top-buffer" type="info"><b>Copying files to the storage. This might take some time...</b></uib-progressbar>
                  </div>

                </div>


              </div>
            </div>

            <hr class="list-separator">
          </div>

        </div>

      </div>

    </div>

  </div>

  <div>
  </div>

</div>

</div>

</div>
