<!-- build:css(.tmp) /components/experiment-explorer/upload-to-kg-explorer.css -->
<link rel="stylesheet" href="/components/experiment-explorer/upload-to-kg-explorer.style.css" />
<!-- endbuild -->

  <div class="res-explorer-view">

    <input type="file" multiple id="experiment-input">
    <div class="res-explorer">
      <div class="res-right-panel">
        <div class="res-files-header">
          <div class="res-file-name">Name</div>
          <div class="res-file-type">Type</div>
          <div class="res-file-size">Size</div>
          <div class="res-file-date">Modified</div>
          <div class="res-file-date">Uploaded</div>
        </div>
        <div ng-if="vm.selectedParent.loadingFiles" disable-animate class="res-files-loading">Loading...</div>
        <div ng-if="!vm.selectedParent.loadingFiles" disable-animate class="res-files-list">
          <div class="res-file" ng-class="{'res-file-selected':vm.selectedFilesIds.includes(file.uuid)}" ng-repeat="file in vm.selectedParent.files"
            ng-click="vm.selectFile(file.uuid)" ng-keydown="vm.suppressKeyPress($event)" >
            <div class="res-file-name">
              <input class="res-file-name-textbox truncate" title="{{file.name}}" required="true" ng-model="file.name" ng-show="file.isEditingName" ng-blur="file.isEditingName=!file.isEditingName">
              <div class="res-file-name-textbox truncate" title="{{file.name}}" ng-hide="file.isEditingName">{{file.name}}</div>
              <div class="res-file-pencil" owner-only ng-click="file.isEditingName=!file.isEditingName">
                <i class="glyphicon glyphicon-pencil"  ng-hide="file.isEditingName"></i>
              </div>
            </div>
            <select ng-class="{'res-file-type-select': true, 'res-file-type-error': file.status === 'noType'}" ng-model="file.artifactType" ng-init="file.artifactType = vm.artifactTypes[0].id" ng-options="option.id as option.label for option in vm.artifactTypes">
            </select>
            <div class="res-file-size truncate" title="{{file.size | bytes}}">{{file.size | bytes}}</div>
            <div class="res-file-date truncate" title="{{file.modifiedDate}}">{{file.modifiedDate}}</div>
            <div class="res-file-date truncate">
              <i ng-if="file.status === 'uploading'" disable-animate class="fa fa-sync fa-spin fa-1x fa-fw" title="Uploading..."></i>
              <i ng-if="file.status === 'uploaded'" disable-animate class="fa fa-check fa-1x fa-fw" title="Uploaded"></i>
              <i ng-if="file.status === 'error'" disable-animate class="fa fa-exclamation-triangle fa-1x fa-fw" title="Error - not uploaded"></i>
              <div ng-if="file.status === ''" title="{{file.uploadedDate}}">{{file.uploadedDate}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
