/**---LICENSE-BEGIN - DO NOT CHANGE OR MOVE THIS HEADER
 * This file is part of the Neurorobotics Platform software
 * Copyright (C) 2014,2015,2016,2017 Human Brain Project
 * https://www.humanbrainproject.eu
 *
 * The Human Brain Project is a European Commission funded project
 * in the frame of the Horizon2020 FET Flagship plan.
 * http://ec.europa.eu/programmes/horizon2020/en/h2020-section/fet-flagships
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 * ---LICENSE-END**/
$hbp-common-asset-path: '/assets/angular-hbp-common';

$plottingToolMinWidth: 540px;
$plottingToolMinHeight: 380px;

$plotIconWidth: 120px;
$plotIconHeight: 100px;

plotting-tool {
  overflow: auto;
}

.plotting-tool-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

/* panel */
#pt-left-panel {
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 1002;
  min-width: $plottingToolMinWidth;
  min-height: $plottingToolMinHeight;
}

.pt-panels-group {
  margin-left: 1em;
  height: 100%;
  position: absolute;
  top: 0;
}

.pt-left-panels {
  display: none;
  height: 100%;
  width: 23em;
}

.pt-panel-content {
  height: calc(100% - 2.51em);
  margin-top: 0.01em;
}

.pt-panel-title {
  width: 100%;
  height: 2.5em;
  line-height: 1.8em;
}

.pt-panel-title h3 {
  margin: 0.3em;
  float: left;
  width: calc(100% - 1.5em);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pt-panel-title img {
  height: 1.2em;
  margin: 0.3em;
  position: absolute;
  right: 0;
  top: 0.3em;
}

.pt-left-panels ul {
  list-style: none;
  width: 21em;
  padding: 0em;
  padding-left: 1em;
  margin: 0em;
}

.clickable:hover {
  cursor: pointer;
}

.pt-insert-menus {
  display: none;
}

.pt-objectlist {
  list-style-type: none;
  padding-left: 0;
}

.pt-objectlist-item {
  display: inline-block;
  overflow: auto;
  margin: 2px;
  width: $plotIconWidth;
  height: $plotIconHeight;
  overflow: hidden;
}

.pt-objectlist-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 5px;
  flex-direction: column;
}

.pt-objectlist-content:hover {
  background-color: gainsboro;
  cursor: pointer;
}

.pt-img-thumbnail {
  padding: 4px;
  line-height: 1.428571429;
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin: auto;
}

.pt-environment-thumbnail {
  border: 0 none;
  box-shadow: none;
}

.pt-bottom-box {
  position: relative;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 43px;
  margin: 0;
  flex-shrink: 0;
}

.pt-bottom-box_options {
  left: 15px;
  padding: 11px 5px 5px 5px;
}

.pt-bottom-box_buttons {
  position: absolute;
  right: 15px;
  padding: 5px 5px 5px 5px;
}

.pt-object-list {
  overflow: auto;
  padding: 10px;
}

.pt-object-list-border {
  border: 1px solid #777777;
  clip-path: inset(0 0 0 0);
  height: 100%;
  overflow-y: auto;
}

.pt-header {
  overflow: auto;
  flex-shrink: 0;
}

.pt-section-toolbar {
  display: flex;
}

.pt-section-button {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 67px;
  border: 1px solid #777777;
  width: 100%;
  clip-path: inset(0 0 0 0);
}

.pt-section-button-first {
  border-top-left-radius: 25px;
}

.pt-section-button-last {
  border-top-right-radius: 25px;
}

.pt-objectlist-content-img-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pt-section-image {
  width: 100%;
  height: auto;
  max-width: 90px;
  max-height: 93px;
  position: relative;
  top: 5px;
  margin-bottom: 2px;
}

.pt-section-caption {
  position: relative;
  width: 100%;
  color: black;
  text-align: center;
  font-size: 11px;
  top: 5px;
}

.pt-object-caption-box {
  width: 100%;
  align-items: center;
  display: flex;
}

.pt-object-caption {
  width: 100%;
  color: black;
  text-align: center;
  font-size: 11px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 1px 3px 3px 3px;
}

.pt-objectlist-item {
  position: relative;
}

.pt-private-tag {
  cursor: pointer;
  width: 43px;
  height: 18px;
  background: #d25c2b;
  color: white;
  margin-left: 6px;
  margin-top: 6px;
  padding: 2px;
  font-size: 11px;
  position: absolute;
  top: 0;
  left: 0;
}
// class to prevent text highlight
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.pt-public-tag {
  cursor: pointer;
  width: 40px;
  height: 18px;
  background: #3679b6;
  color: white;
  margin-left: 6.5px;
  margin-top: 6px;
  padding: 2px;
  font-size: 11px;
  position: absolute;
  top: 0;
  left: 0;
}
.pt-structure-title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.pt-structure-label {
  width: 40px;
  margin-top: 2px;
  text-align: right;
  margin-right: 5px;
}

.pt-structure-datasource-scroll {
  overflow: auto;
  height: calc(100% - 240px);
  border: 1px solid lightgray;
}

.pt-structure-datasource-scroll-small {
  overflow: auto;
  height: calc(100% - 80px);
  border: 1px solid lightgray;
}

.pt-structure-datasource-block {
  display: flex;
  margin-bottom: 5px;
  flex-wrap: wrap;
  padding: 8px;
  background-color: #eee;
}

.tooltip-multiline {
  height: auto;
  white-space: pre-line;
  max-width: 500px;
  line-height: 22px;
  font-size: 100%;
}
